@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

:root {
  --bluedarkdeep: #150D3F;
  --bluedeep: #1E1354;
  --purpledeep: #3E0E6F;
  --purpleshine: #861ED0;
  --purpleroyal: #721184;
  --white: #F2F0CD;
  --gradientBackground: linear-gradient(
    to bottom,
    rgba(var(--purpleroyal), 0) 0%,
    rgba(var(--purpledeep), 1) 100%
  );
}
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: var(--white);
}

.App-title {
  font-size: 1.5em;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: darken(var(--gradientBackground), 10);
  font-family: "Roboto", sans-serif;
  color: var(--white);
}
